@import "~@styles/breakpoints.module.scss";

.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerContainer {
  margin-top: 100px;
  width: 850px;
}

.postsContainer {
  margin-top: 100px;
  width: 900px;
  background-color: rgba(55, 71, 101, 0.8);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 50px;

  .post {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    margin-top: 50px;
    border-bottom: 2px solid rgba(var(--opposite-background-color-rgb), 0.2);

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      border: none;
    }

    .infoContainer {
      display: flex;
      flex-direction: column;
      width: 50%;

      & h2 {
        margin-bottom: 0px;
        letter-spacing: 0.05em;
        font-weight: 700;
        margin-top: 40px;
        font-size: 21px;
        transition: font-size 400ms;

        @include md {
          font-size: 26px;
        }

        @include lg {
          font-size: 36px;
        }
      }

      & p {
        margin-top: 10px;
        font-size: 14px;
        transition: font-size 400ms;

        @include lg {
          margin-top: 10px;
          font-size: 16px;
        }
      }

      & span {
        font-size: 12px;
        transition: font-size 400ms;

        @include lg {
          margin-top: 10px;
          font-size: 14px;
        }
      }
    }

    .imageContainer {
      width: 312px;
      height: 208px;
      background-color: black;
      position: relative;
      border-radius: 6px;
      overflow: hidden;
      box-shadow: var(--shadow-elevation-high);

      // @include sm {
      //   width: 450px;
      //   height: 300px;
      // }

      // @include md {
      //   width: 600px;
      //   height: 400px;
      // }

      // @include lg {
      //   width: 750px;
      //   height: 500px;
      // }
    }
  }
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;

  & span {
    padding: 5px;
    background-color: var(--opposite-background-color);
    border-radius: 8px;
  }
}
