@import "~@styles/breakpoints.module.scss";

.navContainer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding-left: 5vw;
  padding-right: 5vw;
  z-index: 200;
  background-color: var(--background-color);
}

.linksContainer {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 16px;
  transition: font-size 400ms, gap 400ms;

  @include md {
    font-size: 18px;
    gap: 30px;
  }

  @include lg {
    font-size: 24px;
    gap: 50px;
  }

  &Large {
    @extend .linksContainer;
    display: none;

    @include md {
      display: flex;
    }
  }

  &Small {
    display: flex;

    @include md {
      display: none;
    }
  }
}

.navDropdown {
  inset: 15px 0px auto auto;
  transform: translate(0px, 0px) !important;
  width: 180px !important;
  z-index: 10;

  @include md {
    display: none;
  }
}

.dropdownItemContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  width: 100%;

  .dropdownItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 16px;
    width: 70%;
    font-weight: 400;
  }
}
