.dropdownContainer {
  position: relative;

  .dropdownButton {
    width: 100%;
    color: white;
  }

  .menu {
    position: absolute;
    list-style-type: none;
    margin-top: 15px;
    padding: 10px 0px 10px 0px;
    border-radius: 6px;
    width: 100%;
    z-index: 100;

    .menuItem {
      margin: 0;
      background-color: var(--opposite-background-color);
      border-left: 1px solid white;
      border-right: 1px solid white;

      span {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 100%;
        text-align: left;

        background: none;
        color: inherit;
        border: none;
        padding: 10px;
        margin: 0;
        cursor: pointer;
      }

      &:first-child {
        @extend .menuItem;
        border-top: 1px solid white;
        border-radius: 6px 6px 0px 0px;
      }

      &:last-child {
        @extend .menuItem;
        border-bottom: 1px solid white;
        border-radius: 0px 0px 6px 6px;
      }
    }
  }
}
